---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

@import 'colors/colors';

$large-breakpoint: 64em;
$medium-breakpoint: 42em;

$base-font-size:   1.25rem;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

@import 'fonts';
@import 'base';
@import 'syntax-highlighting';
