body {
  background-color: #222222;
}

* {
  font-family: "Open Sans", "Helvetica", sans-serif;
}

heading {
  text-align: center;
  h1 {
    color: #dcdccc;
    @include large {
      font-size: 6em;
    }
    @include medium {
      font-size: 2.75rem;
    }
    @include small {
      font-size: 2rem;
    }
    font-family: "Yanone Kaffeesatz", "Helvetica", sans-serif;
  }
  h3 {
    font-style: italic;
    color: #f0dfaf;
    @include large {
      font-size: 3em;
    }
    @include medium {
      font-size: 2rem;
    }
    @include small {
      font-size: 1.5rem;
    }
    font-family: "Inconsolata", monospace;
  }
}

section.contactmethods {
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    display: inline;
    margin: 1em;
    i.fa {
      @include large {
        font-size: 5em;
      }
      @include medium {
        font-size: 4rem;
      }
      @include small {
        font-size: 3.5rem;
      }
    }
    a {
      color: #41706f;
      &:visited {color: darken(#41706f, 10%);}
    }
  }
}
